attrs==18.1.0
certifi==2018.4.16
chardet==3.0.4
dateparser==0.7.0
humanize==0.5.1
idna==2.6
maya==0.4.3
more-itertools==4.1.0
pendulum==1.5.1
pluggy==0.6.0
py==1.5.3
pytest==3.5.1
python-dateutil==2.7.3
pytz==2018.4
pytzdata==2018.5
regex==2018.2.21
requests==2.18.4
six==1.11.0
snaptime==0.2.4
tzlocal==1.5.1
urllib3==1.22
